body {
    font-family: Arial, sans-serif;
    background-color: #ff21ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #b403ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #b403ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff21ff;
}

#error-message {
    color: red;
    margin-top: 10px;
}



/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Fondo azul claro */
    color: #333; /* Color del texto */
    margin: 0;
    padding: 0;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ff21ff; /* Borde lila*/
    border-radius: 5px;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #b403ff; /* Fondo magenta */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #ff21ff; /* Fondo lila */
}

/* Pie de página */
footer {
    background-color: #ff6347; /* Fondo rojo tomate */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
